@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */

:root {

  /* Foregrounds */

  /* Backgrounds */

  /* Title */

  /* Heading */

  /* Content */

  /* Border */

  /* Link */




  /* Home Page Light Mode */
  --home-foreground: #22223B;
  --home-background: #EFE9CC;
  --home-border-color: #808080;
  --home-secondary-color: #FFEEF2;
  --home-tertiary-color: #C3F3C0;

  /* Wiki Page Light Mode */
  --wiki-foreground: #000000;
  --wiki-background: #FFFFFF;
  --wiki-border-color: #474A48;
  --wiki-link-color: #0000FF;
  
  /* Enhanced Page Light Mode */
  --enhanced-foreground: #EFE9CC;
  --enhanced-background: #22223B;
  --enhanced-border-color: #474A48;
  --enhanced-secondary-color: #BCD0C7;

  /* Michael Jordan Wiki Page Light Mode */
  --jordan-foreground: #000000;
  --jordan-background: #FFFFFF;
  --jordan-border-color: #CE1141;
  --jordan-secondary-color: #333234;
  --jordan-tertiary-color: #89CFF0A;

  /* Marie Curie */
  --curie-foreground: var(--enhanced-foreground);
  --curie-background: var(--enhanced-background);
  --curie-border-color: var(--enhanced-border-color);
  --curie-secondary-color: var(--enhanced-secondary-color);

  /* Egypt */
  --egypt-foreground: #081810;
  --egypt-background: #C4A484;
  --egypt-border-color: #0072BB; /* Sky blue */
  --egypt-secondary-color: #9C661F;

  /* Internet */
  --internet-foreground: var(--enhanced-foreground);
  --internet-background: var(--enhanced-background);
  --internet-border-color: var(--enhanced-border-color);
  --internet-secondary-color: var(--enhanced-secondary-color);

  /* Amazon */
  --amazon-foreground: #20603D; /* Dark rich green */
  --amazon-background: #F7DB70; /* Light yellow */
  --amazon-border-color: #FFA500; /* Bright orange */
  --amazon-secondary-color: #20603D;

  /* Shakespeare */
  --shakespeare-foreground: var(--enhanced-foreground);
  --shakespeare-background: var(--enhanced-background);
  --shakespeare-border-color: var(--enhanced-border-color);
  --shakespeare-secondary-color: var(--enhanced-secondary-color);

  /* Socrates */
  --socrates-foreground: var(--enhanced-foreground);
  --socrates-background: var(--enhanced-background);
  --socrates-border-color: var(--enhanced-border-color);
  --socrates-secondary-color: var(--enhanced-secondary-color);

  /* Tubman */
  --tubman-foreground: var(--enhanced-foreground);
  --tubman-background: var(--enhanced-background);
  --tubman-border-color: var(--enhanced-border-color);
  --tubman-secondary-color: var(--enhanced-secondary-color);

  /* Youyou */
  --youyou-foreground: var(--enhanced-foreground);
  --youyou-background: var(--enhanced-background);
  --youyou-border-color: var(--enhanced-border-color);
  --youyou-secondary-color: var(--enhanced-secondary-color);

  /* Taylor Swift */
  --swift-foreground: #000000; /* Blonde */
  --swift-background: #D2B48C;
  --swift-border-color: #87CEFA; /* Dark color */
  --swift-secondary-color: #FFD700;

}

@media (prefers-color-scheme: dark) {
  :root {

      /* Foregrounds */
        --home-foreground: #FFF9DB;
        --wiki-foreground: #FFFFFF;
        --jordan-foreground: #FFFFFF;
        --egypt-foreground: #B28E6A;
        --amazon-foreground: #FEFFBD;
        --swift-foreground: #D2B48C;

        --enhanced-foreground: var(--home-foreground);
        --curie-foreground: var(--home-foreground);
        --internet-foreground: var(--home-foreground);
        --shakespeare-foreground: var(--home-foreground);
        --socrates-foreground: var(--home-foreground);
        --tubman-foreground: var(--home-foreground);
        --youyou-foreground: var(--home-foreground);

      /* Backgrounds */
        --home-background: #020225;
        --wiki-background: #000000;
        --jordan-background: #000000;
        --egypt-background: #031009;
        --amazon-background: #012407;
        --swift-background: #35485E;

        --enhanced-background: var(--home-background);
        --curie-background: var(--home-background);
        --internet-background: var(--home-background);
        --shakespeare-background: var(--home-background);
        --socrates-background: var(--home-background);
        --tubman-background: var(--home-background);
        --youyou-background: var(--home-background);

      /* Title */
        --home-title: #FFF4BC;

        --youyou-title: #000000;

      /* Heading */

      /* Content */

      /* Border */

      /* Link */




      /* Maintain other color properties */
      --home-border-color: #808080; /* Gray */
      --home-secondary-color: #FFEEF2; /* Light pink */
      --home-tertiary-color: #C3F3C0; /* Pale green */
      --wiki-border-color: #474A48; /* Dark gray */
      --wiki-link-color: #0000FF; /* Blue */
      --jordan-border-color: #CE1141; /* Red */
      --jordan-secondary-color: #333234; /* Dark gray */
      --jordan-tertiary-color: #89CFF0; /* Light blue */
      --egypt-border-color: #0072BB; /* Sky blue */
      --egypt-secondary-color: #9C661F;
      --amazon-border-color: #FFA500; /* Bright orange */
      --amazon-secondary-color: #20603D;
      --shakespeare-border-color: var(--enhanced-border-color);
      --shakespeare-secondary-color: var(--enhanced-secondary-color);
      --socrates-border-color: var(--enhanced-border-color);
      --socrates-secondary-color: var(--enhanced-secondary-color);
      --tubman-border-color: var(--enhanced-border-color);
      --tubman-secondary-color: var(--enhanced-secondary-color);
      --youyou-border-color: var(--enhanced-border-color);
      --youyou-secondary-color: var(--enhanced-secondary-color);
      --swift-border-color: #87CEFA; /* Dark color */
      --swift-secondary-color: #FFD700; /* Blonde */

  }
}

html, body {
  height: 100%;
}

/* Home Page Color Scheme */
.home-color-scheme {
  color: var(--home-foreground);
  background: var(--home-background);
}

/* Wiki Page Color Scheme */
.wiki-color-scheme {
  color: var(--wiki-foreground);
  background: var(--wiki-background);
}

/* Enhanced Page Color Scheme */
.enhanced-color-scheme {
  color: var(--enhanced-foreground);
  background: var(--enhanced-background);
}

/* Michael Jordan Wiki Page Color Scheme */
.jordan-color-scheme {
  color: var(--jordan-foreground);
  background: var(--jordan-background);
}

/* Marie Curie Color Scheme */
.curie-color-scheme {
  color: var(--curie-foreground);
  background: var(--curie-background);
}

/* Egypt Color Scheme */
.egypt-color-scheme {
  color: var(--egypt-foreground);
  background: var(--egypt-background);
}

/* Internet Color Scheme */
.internet-color-scheme {
  color: var(--internet-foreground);
  background: var(--internet-background);
}

/* Amazon Color Scheme */
.amazon-color-scheme {
  color: var(--amazon-foreground);
  background: var(--amazon-background);

}

.amazon-title {
    color: ;
}

/* Shakespeare Color Scheme */
.shakespeare-color-scheme {
  color: var(--shakespeare-foreground);
  background: var(--shakespeare-background);
}

/* Socrates Color Scheme */
.socrates-color-scheme {
  color: var(--socrates-foreground);
  background: var(--socrates-background);
}

/* Tubman Color Scheme */
.tubman-color-scheme {
  color: var(--tubman-foreground);
  background: var(--tubman-background);
}

/* Youyou Color Scheme */
.youyou-color-scheme {
  color: var(--youyou-foreground);
  background: var(--youyou-background);
}

/* Taylor Swift Color Scheme */
.swift-color-scheme {
  color: var(--swift-foreground);
  background: var(--swift-background);
}

/*
* Home Styles
*/


.home-border-style {
  border: 4px solid var(--home-border-color);
  padding: 10px;
  margin: 4px;
}

.home-button-style {
    color: var(--home-background);
    background-color: var(--home-foreground);
    padding: 8px 16px;
    margin: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease;
}

.home-button-style:hover {
    color: var(--home-background);
    font-weight: bold;
    transform: scale(1.02);
}

.home-input-style {
    color: var(--home-background);
    background: var(--home-foreground);
    padding: 8px;
    margin: 4px;
}

.home-input-style:focus {
    color: var(--home-background);
}


/*
* Topics Styles
*/

.topic-item {
  margin-bottom: 10px;
}

.topic-link {
  color: var(--home-foreground);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.topic-link:hover {
  @apply font-bold text-current;
  transition: color 0.3s ease-in-out;
}

.topic-border {
    border: 4px solid var(--home-border-color);
}


@media (max-width: 600px) {
  .safe-top {
    flex-direction: column;
  }
}

@layer utilities {
  .rounded-border {
    border: 4px solid rgb(var(--border-color-rgb));
    border-radius: 12px;
    padding: 4px;
    margin: 4px;
    box-shadow: 0 4px 6px var(--shadow-color); /* Using variable for shadow color */
    transition: all 0.3s ease-in-out; /* Smooth transitions for all properties */
  }

  .text-balance {
    text-wrap: balance;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
  }
}



