@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */

:root {


      /* Foregrounds */
        --home-foreground: #FFF9DB;
        --wiki-foreground: #FFFFFF;
        --jordan-foreground: #D1A7B2;
        --egypt-foreground: #B09274;
        --amazon-foreground: #FFFFCE;
        --swift-foreground: #CFBDA4;

      /* Backgrounds */
        --home-background: #0C0C21;
        --wiki-background: #000000;
        --jordan-background: #000000;
        --egypt-background: #031009;
        --amazon-background: #011C05;
        --swift-background: #2C3A4C;

      /* Title */
        --home-title: #FFF59F;
        --wiki-title: #000000;
        --jordan-title: #CE1141;
        --egypt-title: #B58453;
        --amazon-title: #FFFF9E;
        --swift-title: #CEAE83;

      /* Heading */
        --home-heading: #FFF6A1;
        --wiki-heading: #000000;
        --jordan-heading: #CE1141;
        --egypt-heading: #B58A5E;
        --amazon-heading: #FFFFB0;
        --swift-heading: #CFB68D;

      /* Content */
        --home-content: #FFF9BF;
        --wiki-content: #000000;
        --jordan-content: #D1A7B2;
        --egypt-content: #B38D68;
        --amazon-content: #FFFFC2;
        --swift-content: #D0B897;

      /* Border */
        --home-border: #020225;
        --wiki-border: #000000;
        --jordan-border: #000000;
        --egypt-border: #031009;
        --amazon-border: #012407;
        --swift-border: #35485E;

      /* Maintain other color properties */
      --home-border-color: #808080; /* Gray */
      --home-secondary-color: #FFEEF2; /* Light pink */
      --home-tertiary-color: #C3F3C0; /* Pale green */
 
}

@media (prefers-color-scheme: dark) {
  :root {


      /* Foregrounds */
        --home-foreground: #FFF9DB;
        --wiki-foreground: #FFFFFF;
        --jordan-foreground: #D1A7B2;
        --egypt-foreground: #B09274;
        --amazon-foreground: #FFFFCE;
        --swift-foreground: #CFBDA4;

      /* Backgrounds */
        --home-background: #0C0C21;
        --wiki-background: #000000;
        --jordan-background: #000000;
        --egypt-background: #031009;
        --amazon-background: #011C05;
        --swift-background: #2C3A4C;

      /* Title */
        --home-title: #FFF59F;
        --wiki-title: #000000;
        --jordan-title: #CE1141;
        --egypt-title: #B58453;
        --amazon-title: #FFFF9E;
        --swift-title: #CEAE83;

      /* Heading */
        --home-heading: #FFF6A1;
        --wiki-heading: #000000;
        --jordan-heading: #CE1141;
        --egypt-heading: #B58A5E;
        --amazon-heading: #FFFFB0;
        --swift-heading: #CFB68D;

      /* Content */
        --home-content: #FFF9BF;
        --wiki-content: #000000;
        --jordan-content: #D1A7B2;
        --egypt-content: #B38D68;
        --amazon-content: #FFFFC2;
        --swift-content: #D0B897;

      /* Border */
        --home-border: #020225;
        --wiki-border: #000000;
        --jordan-border: #000000;
        --egypt-border: #031009;
        --amazon-border: #012407;
        --swift-border: #35485E;

      /* Maintain other color properties */
      --home-border-color: #808080; /* Gray */
      --home-secondary-color: #FFEEF2; /* Light pink */
      --home-tertiary-color: #C3F3C0; /* Pale green */
 
  }
}

html, body {
  height: 100%;
}

/* Home Page Color Scheme */
.home-color-scheme {
  color: var(--home-foreground);
  background: var(--home-background);
}

.home-title {
  color: var(--home-title);
}

.home-heading {
  color: var(--home-title);
}

.home-content {
  color: var(--home-title);
}

/* Wiki Page Color Scheme */
.wiki-color-scheme {
  color: var(--wiki-foreground);
  background: var(--wiki-background);
}


/* Michael Jordan Wiki Page Color Scheme */
.jordan-color-scheme {
  color: var(--jordan-foreground);
  background: var(--jordan-background);
}

.jordan-title {
  color: var(--jordan-title);
}

.jordan-heading {
  color: var(--jordan-heading);
}

.jordan-content {
  color: var(--jordan-content);
}

/* Marie Curie Color Scheme */
.curie-color-scheme {
  color: var(--home-foreground);
  background: var(--home-background);
}

.curie-title {
  color: var(--home-title);
}

.curie-heading {
  color: var(--home-heading);
}

.curie-content {
  color: var(--home-content);
}

/* Egypt Color Scheme */
.egypt-color-scheme {
  color: var(--egypt-foreground);
  background: var(--egypt-background);
}

.egypt-title {
  color: var(--egypt-title);
}

.egypt-heading {
  color: var(--egypt-heading);
}

.egypt-content {
  color: var(--egypt-contnet);
}

/* Internet Color Scheme */
.internet-color-scheme {
  color: var(--home-foreground);
  background: var(--home-background);
}

.internet-title {
  color: var(--home-title);
}

.internet-heading {
  color: var(--home-heading);
}

.internet-content {
  color: var(--home-content);
}

/* Amazon Color Scheme */
.amazon-color-scheme {
  color: var(--amazon-foreground);
  background: var(--amazon-background);

}

.amazon-title {
  color: var(--amazon-title);
}

.amazon-heading {
  color: var(--amazon-heading);
}

.amazon-content {
  color: var(--amazon-content);
}

/* Shakespeare Color Scheme */
.shakespeare-color-scheme {
  color: var(--home-foreground);
  background: var(--home-background);
}

.shakespeare-title {
  color: var(--home-title);
}

.shakespeare-heading {
  color: var(--home-heading);
}

.shakespeare-content {
  color: var(--home-content);
}

/* Socrates Color Scheme */
.socrates-color-scheme {
  color: var(--home-foreground);
  background: var(--home-background);
}

.socrates-title {
  color: var(--home-title);
}

.socrates-heading {
  color: var(--home-heading);
}

.socrates-content {
  color: var(--home-content);
}


/* Tubman Color Scheme */
.tubman-color-scheme {
  color: var(--home-foreground);
  background: var(--home-background);
}

.tubman-title {
  color: var(--home-title);
}

.tubman-heading {
  color: var(--home-heading);
}

.tubman-content {
  color: var(--home-content);
}


/* Youyou Color Scheme */
.youyou-color-scheme {
  color: var(--home-foreground);
  background: var(--home-background);
}

.youyou-title {
  color: var(--home-title);
}

.youyou-heading {
  color: var(--home-heading);
}

.youyou-content {
  color: var(--home-content);
}


/* Taylor Swift Color Scheme */
.swift-color-scheme {
  color: var(--swift-foreground);
  background: var(--swift-background);
}

.swift-title {
  color: var(--swift-title);
}

.swift-heading {
  color: var(--swift-heading);
}

.swift-content {
  color: var(--swift-content);
}


/* Home Styles */

.home-border-style {
  border: 4px solid var(--home-border-color);
  padding: 10px;
  margin: 4px;
}

.home-button-style {
    color: var(--home-background);
    background-color: var(--home-foreground);
    padding: 8px 16px;
    margin: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease;
}

.home-button-style:hover {
    color: var(--home-background);
    font-weight: bold;
    transform: scale(1.02);
}

.home-input-style {
    color: var(--home-background);
    background: var(--home-foreground);
    padding: 8px;
    margin: 4px;
}

.home-input-style:focus {
    color: var(--home-background);
}


/*
* Topics Styles
*/

.topic-item {
  margin-bottom: 10px;
}

.topic-link {
  color: var(--home-foreground);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.topic-link:hover {
  @apply font-bold text-current;
  transition: color 0.3s ease-in-out;
}

.topic-border {
    border: 4px solid var(--home-border-color);
}


@media (max-width: 600px) {
  .safe-top {
    flex-direction: column;
  }
}

@layer utilities {
  .rounded-border {
    border: 4px solid rgb(var(--border-color-rgb));
    border-radius: 12px;
    padding: 4px;
    margin: 4px;
    box-shadow: 0 4px 6px var(--shadow-color); /* Using variable for shadow color */
    transition: all 0.3s ease-in-out; /* Smooth transitions for all properties */
  }

  .text-balance {
    text-wrap: balance;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
  }
}



