/* components/wiki/wiki.module.css */

.wikiContainer {
  display: flex;
  min-height: 100vh;
}

.wikiContent {
  flex-grow: 1;
  padding: 20px;
  background-color: #fff; /* White background for content */
}

